@import url('https://fonts.googleapis.com/css2?family=Besley:ital,wght@0,400;1,900&display=swap');

body{
    text-align: center;
}
.main{
    background-color: #1f2937;
    
    
}
.logo {
    color: #f4faf6;
    font-size: 36px;
    font-weight: 900;
}
h3{
    color: #f4faf6;
    font-size: 36px;
    font-weight: 900;
    text-align: left;

}
p {
    color: #f4faf6;
    font-size: 16px;
    font-weight: 900;
    text-align: left;
}
.service{
    color: #1f2937;
    font-size: 36px;
    font-weight: 900;
    margin-bottom: 20px;
    margin-top: 20px;

}
.header {
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    padding: 32px;
    margin: 20px;
    margin-bottom: 20px;
    
}
a {
    /* this removes the line under our links */
    text-decoration:none;
    color: #f4faf6;
  }
  ul {
    list-style-type: none;
    display: flex;
    gap: 16px;
    margin: 0;
    padding: 0;
    
  } 
  .container1 { 
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      justify-content: space-around;
      
      
  }
.home   {
    width: 500px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 20px;
    padding: 20px;

}
.home-image {
    align-items: right;
    width: 500px;
    
    margin: 20px;
    padding: 20px;

}
.homeimg{
    width: 400px;
    height: 200px;

}
button {
    border: none;
    border-radius: 8px;
    background: #3882F6;
    color: white;
    padding: 8px 24px;
    width: 100px;
  }
  .information {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 52px;
    margin: 20px;
    padding: 20px;
  }
  .info{
    max-width: 200px;
  }
  img {
    width: 180px;
    height: 120px;
    
  }
  .quote {
      background-color: #E5E7EB;
      width: auto;
      height: 7cm;
      display: flex;
      flex-wrap: wrap;
      align-content: center;
  }
  q{
      font-style: italic;
      color: black;
      

  }
  .modal {
    background: #3882F6;
    color: white;
    width: 800px;
    border-radius: 10px;
    box-shadow: 2px 4px 16px rgba(0,0,0,.2);
    display: flex;
    align-items: center;
    margin: auto;
    margin-top: 80px;
    margin-bottom: 80px;
    gap: 16px;
    padding: 16px;
  
   
  }
  
   .head {
    
        margin: 4px;
        padding: 4px;
        text-align: left ;
   }  
  .sign {
      
      background: #3882F6;
      border: 2px solid rgb(243, 245, 248);
      color: white;
     margin-left: 100px;
      
  }
  .footer {
      background-color: #1f2937;
      color: #E5E7EB;
      display: flex;

      justify-content: space-between;
      
      padding: 26px;
      
  }